.business-feed {
display:flex;
justify-content: center;
}

.businesses-list {
    display:grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1224px;

}

.business-image {
    width:150px;
    height:150px;
}

.business-card {
    box-sizing: border-box;
    border-style: solid;
    display: flex;
    width:480px;
    margin-right: 1.8rem;
    margin-bottom: 1.8rem;
}
