.delete-review-image{
    height:25px;
    width:25px;
    margin-left:4rem;
    margin-top:0.8rem
}

.delete-review-image:hover {
    cursor: pointer;
}

.edit-review-image:hover {
    cursor: pointer;
}

.edit-review-image {
    height:25px;
    width:25px;
    margin-left:1rem;
    margin-top:0.8rem
}

.review-information {
    display:flex;
}
